body, #Output p{
	background-color:;
	font-family:"Lucida Sans Unicode", Helvetica, sans-serif;
	padding-left:50px;
	padding-top:30px;
}

h1{
	font-size:40px;
	color:#26972D;
}

p{
	font-size:20px;
	font-family: "Lucida Sans", Helvetica, sans-serif;
}

input {
	font-size:16px;
	margin-right:30px;
}

button {
	display:inline-block;
	background-color:;
	border-radius:7px;
	text-decoration:none;
	padding:8px 16px;
	color:white;
	background-color: #1B6A1F;
	border:0;
	font-size:16px;
	margin-left:50px;
}

button:hover {
	color:black;
	background-color: #67B66C;
}

.bottom {
    position: fixed;
    bottom: 0;
}